{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Vs Dog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script>
        const token = "{{csrf_token}}"
    </script>
</head>
<body>
    <div>
        <img id="image" src="{% static 'images/upload.png' %}"/>
    </div>
    <div>
        <button id="upload" onclick="upload()">Upload image</button>
    </div>
    <div>
        <button id="predict" onclick="predict()">Predict</button>
    </div>
    <div>
        <h2 id="result"></>
    </div>
    <input type="file" hidden id="file" onchange="changeHandler()"/>
    <script type="text/javascript" src="{% static 'js/source.js' %}"></script>
</body>
</html>