body{
    background: linear-gradient(to left top, #00CCFF, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height:250px;
    width: 250px;
    margin: 50px auto 20px auto;
    border: 1px solid #000;
    border-radius: 25px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 8px;
}
button#upload{
    background-color: #FFFFFF55;
}
button#predict{
    background-color: #00FF00A5;
}
